@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Playfair Display", system-ui, sans-serif;
  }
}

@layer components {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
